version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: weekly

  - package-ecosystem: "npm"
    directory: "/packages/log-triage-sandbox"
    schedule:
      interval: weekly

  - package-ecosystem: "npm"
    directory: "/packages/local-vault"
    schedule:
      interval: weekly

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
